---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav";
import Landing from "../components/Landing";
import AboutMe from "../components/AboutMe/AboutMe";
import Experience from "../components/Experience/Experience";
import Projects from "../components/Projects/Projects";
---

<Layout title="Youngwoo Lee">
  <div>
    <Nav client:only />
    <Landing client:only />
    <div
      id="aboutme"
      style="
      margin-top: 0;
      text-align: center;
      padding-top:70px;
      color:white"
      ;
    >
      <p style="font-size: 2.5rem;">About Me</p>

      <div
        style="max-width: 1000px; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px;"
      >
        <p style="font-size: 1.4rem;">
          Nice to meet you, I’m Youngwoo! I’m a Korean-Canadian chemical
          engineering student from the University of Waterloo with a deep
          passion for software development. I currently specialize in <span
            style="color: #51EA38">full stack web development</span
          >, with a further interest in <span style="color: #51EA38"
            >cloud computing</span
          > and <span style="color: #51EA38">generative AI</span>.
        </p>
      </div>
      <AboutMe client:only />
      <Experience client:only />
      <Projects client:only />
    </div>
  </div>
</Layout>
