.nav{
    background-color: #01002E;
    width: 100vw;
    height: 70px;
    max-width: 100%;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}

.nav-body{
    max-width: 1400px;
    /* background-color: red; */
    width: 90vw;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.resume-btn{
    width: 140px;
    height: 40px;
    border-radius: 20px;
    background-color: #220F6F;
    border: 1px solid black;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.resume-btn:hover{
    background-color: #3919bb;
}

.links-div{
    color: #FFFFFF;
    display: flex;
    gap: 50px;
}

.nav-link{
    font-size: 20px;
    border-bottom: 2px solid #01002E;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.nav-link:hover{
    border-bottom: 2px solid #51EA38;
}

.menu-icon{
    color: white;
}

.scroll-watcher{
    height: 3px;
    width: 100%;
    background-color: #51EA38;
    position: sticky;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}

@keyframes scroll-watcher{
    to {scale:1 1;}
}